body{
    position: relative;
}
#div1{
    background-color: darkgray;
    border: 1px solid black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
}
#div2{
    background-color: yellow;
    border: 1px solid black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    margin: 100px;
}