.modal{
display: none;
position: fixed;
z-index: 1;
padding-top: 100px;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: grey;
}
.box{
width: 500px;
height: 100px;
background: aquamarine;
margin: 0 auto;
transform: rotateX(30deg);
}
.btn-text{
text-align: center;
}
.close-modal{
    width: 80%;
    margin-top: 30px;
}